@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
}

body {
    font-family: 'Inter', sans-serif;
    
}

.header{
    position:fixed;
    top:0;
}

.wrapper-menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    height: 90px;
    
}

.logo {
    color: #5DBD6D;
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;

}

nav > ul {
    display: flex;

}

nav > ul > li{
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
    color:#151519;
    margin-left: 43px;
    font-weight: 600;
    font-size:15px;
}

.nav-button {
    color:#5DBD6D;
    font-weight: 500;
    size:16px;
    background-color:#E6F9E6;
    padding: 9px 25px;
    border-radius: 50px;
}

.line-menu{
    display: block;
    width:100vw;
    height: 2px;
    background-color:#ECEBEB;
}

#start > .wrapper{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.main-headding{
    font-size: 43px;
    font-weight: 800;
    color:#151519;
    margin-bottom: 22px;
}

.main-text {
    
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
max-width: 350px;
margin-bottom: 53px;
}

.action{
    
font-size: 20px;
font-weight: 600;
color:#fff;
background-color:#FD576C;
padding: 11px 32px;
border-radius:50px;
text-decoration: none;

}