@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
}

body {
    font-family: 'Inter', sans-serif;
}

.main-img {
    display: block;
    width: 50px;
    height: 50px;
}

.burger-line{
    height: 8px;
    width:50px;
    background-color:#5DBD6D;
    border-radius:20px;
}

.burger{
    display: flex;
    flex-direction: column;
    gap:5px;
    display:none;
}

.menu-burger{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header{
    position:fixed;
    top:0;
    background-color:#fff;
    z-index: 999;
}

.wrapper-menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    height: 90px;
    padding:0 30px;
    
}

.wrapper{
    margin: 0 auto;
    max-width: 1100px;
}

.logo {
    color: #5DBD6D;
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
}

nav > ul {
    display: flex;
}

nav > ul > li{
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
    color:#151519;
    margin-left: 43px;
    font-weight: 600;
    font-size:15px;
    transition: 0.2s ease-out;
}

.nav-link:hover {
    color:#FD576C;
}

.nav-button {
    color:#5DBD6D;
    font-weight: 500;
    size:16px;
    background-color:#E6F9E6;
    padding: 9px 25px;
    border-radius: 50px;
    transition: 0.2s ease-out;
}

.nav-button:hover{
    background-color:#FFF;
    outline: 1px solid #FD576C;
}

.line-menu{
    display: block;
    width:100vw;
    height: 2px;
    background-color:#ECEBEB;
}

#start{
    margin-top: 50px;
}

#start > .wrapper{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.main-headding{
    font-size: 43px;
    font-weight: 800;
    color:#151519;
    margin-bottom: 30px;
}

.main-text {
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
max-width: 350px;
margin-bottom: 53px;
}

.action{
font-size: 20px;
font-weight: 600;
color:#fff;
background-color:#FD576C;
padding: 11px 32px;
border-radius:50px;
text-decoration: none;
transition: 0.2s ease-out;
}

.action:hover{
    color:#FD576C;
    background-color:#FFF;
    outline: 1px solid #FD576C;
}

#problems-section {
    background-color:#F9FAFC;
}

.heading{
    font-size: 30px;
    font-weight: 800;
    color:#151519;
    padding-top: 115px;
    margin-bottom: 50px;
}

.problems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prob{
    background-color:#fff;
    width: 350px;
    height: 216px;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    gap:20px;
    border-radius:10px;
    margin-bottom: 20px;
}

.circle-1{
    background-color: #E9F6EB;
    border-radius:50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.circle-2{
    background-color: #FDF3E3;
    border-radius:50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.circle-3{
    background-color: #FCE3E8;
    border-radius:50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.icon-s2{
    width: 34px;
    height: 34px;
}

.prob > *{
    margin-left: 20px;
}

.prob-h {
    font-weight: 600;
    font-size: 16px;
}

.prob-t{
    max-width: 289px;
    font-size: 16px;
}

.result {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.result > div > .prob-h {
    margin-bottom: 20px;
}

.how-block {
    border:1px solid #ECEBEB;
    border-radius: 10px;
    width: 350px;
}

.how-works{
    display: flex;
    justify-content: space-around;
    gap:20px;
}

.how-title{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 37px;
}

.img-4s{
    margin-top: 41px;
    margin-left: 37px;
    margin-bottom: 22px;
    width:90px;
    height: 100px;
}

.list-4s{
    color:#FD576C;
    width: 269px;
}

.list-4s > p{
    color:#151519;
    margin-bottom: 20px;
}

#depend{
    background-color:#F9FAFC;
}

.depend {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.depend-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.depend-item{
    width:254px;
}

.depend-item > *{
    margin-bottom: 10px;
}

.square-1{
    width: 47px;
    height: 47px;
    background-color:#FAE3E8;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius:10px;
}

.square-2{
    width: 47px;
    height: 47px;
    background-color:#E6F9E6;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius:10px;
}

.square-3{
    width: 47px;
    height: 47px;
    background-color:#FBF2E3;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius:10px;
}

.element-name-1{
    font-weight: 700;
    font-size:23px;
    color:#F2859A;
}

.element-name-2{
    font-weight: 700;
    font-size:23px;
    color:#5DBD6D;
}

.element-name-3{
    font-weight: 700;
    font-size:23px;
    color:#EFB65D;
}
.check-icon{
    background-image: url(/img/section-6-icons/check.svg);
    width: 16px;
    height: 17px;
}

.uncheck-icon{
    background-image: url(/img/section-6-icons/uncheck.svg);
    width: 15px;
    height: 14px;
}
.check-icon-center {
    background-image: url(/img/section-6-icons/check-c.svg);
    width: 16px;
    height: 17px;
}

.uncheck-icon-center {
    background-image: url(/img/section-6-icons/uncheck-c.svg);
    width: 15px;
    height: 14px;
}

.half {
    width:350px;
    border: 1px solid #ECEBEB;
    border-radius: 10px;
    height: 650px;
}

.full {
    width:350px;
    background-color:#5DBD6D;
    border-radius: 10px;
    height: 650px;
}

.full > .choose-checks > .choose-item > * {
    color:#FFF;
}

.choose-item{
    display: flex;
}

.choose{
    display: flex;
    flex-direction: space-around;
    gap:30px;
    margin-bottom: 10px;
}

.choose-checks{
    display: flex;
    flex-direction: column;
    padding-left:27px;
    gap:20px;
    margin-bottom: 40px; 
}

.choose-top {
    background-color:#5DBD6D;
    height: 141px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    padding-left: 27px;
    margin-bottom: 40px;
}


.price-duration {
    color:#fff;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px; 
}

.price-a {
    color:#fff;
    font-weight: 800;
    font-size: 30px;
}

.price-old {
    color:#fff;
    text-decoration: line-through;
    font-weight: 500;
    font-size: 18px;
}

.check-text{
    width:273px;
    padding-left: 15px;
    color:#151519;
    font-size: 16px;
}

.uncheck-text{
    width:273px;
    padding-left: 15px;
    font-size: 16px;
    color:#A8A7A7;
}

.choose-action1{
    font-size: 20px;
    font-weight: 600;
    color:#fff;
    background-color:#FD576C;
    padding: 11px 39px;
    border-radius:50px;
    text-decoration: none;
    margin-left: 22px;
    transition: 0.2s ease-out;
}

.choose-action2{
    font-size: 20px;
    font-weight: 600;
    color:#FD576C;
    background-color:#FFF;
    padding: 11px 39px;
    border-radius:50px;
    text-decoration: none;
    margin-left: 22px;
}

.d7{
    margin-bottom: 20px;
}

.rewiev{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.star{
    background-image: url(/img/Star.png) ;
    width:20px;
    height: 20px;
    background-repeat: no-repeat;
}

.score-left:first-child{
    font-weight: 600;
    color:#777575;
}

.name{
    font-weight: 400;
    color:#777575;
}

.score-right{
    display: flex;
}

.review-score{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap:200px;
}

.rewiev-item{
    width: 540px;
    border: 1px solid #ECEBEB;
    border-radius:10px;
    height: 577px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p1{
    margin-top: 100px;
}

.rewiev-photo-1{
    display: block;
    position: absolute;
    left: 50px; 
    top: -50px;
    margin-bottom: 20px;
}

.rewiev-photo-2{
    display: block;
    position: absolute;
    left: 50px; 
    top: -50px;
    margin-bottom: 20px;
}

.rewiev-p{
    margin-bottom: 20px;
    width:437px;
}

.line{
    width:437px;
    height: 1px;
    background-color:#ECEBEB;
    margin-top: 20px;
    margin-bottom: 20px;
}

#disclamer{
    background-color:#F9FAFC;
    border-bottom: 1px solid #ECEBEB;
}

.disclamer-top{
    display:flex;
}

.disclamer-bottom{
    display:flex;
    gap:30px;
    margin-bottom: 30px;
}

.disclamer-bottom-item{
    background-color:#FFF;
    width:540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    height: 288px;
    border-radius:10px;
}

.disclamer-top-text > .disclamer-p {
    margin-bottom: 40px;
}

.disclamer-r{
    margin-bottom: 20px;
}

.disclamer-action{
    font-size: 20px;
    font-weight: 600;
    color:#FD576C;
    margin-top: 30px;
    text-decoration: none;
}

.disclamer-bottom-item > * {
    margin-left:30px;
}

.learn-more{
    display: flex;
}

.learn-more > div > p {
    margin-bottom: 40px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:30px;
}

.bottom-nav{
    display: flex;
    justify-content: space-between;
    width:800px;
}

.bottom-link{
    text-decoration: none;
    color:#151519;
    margin-bottom: 20px;
    font-weight: 600;
    transition: 0.2s ease-out;
}

.bottom-link:hover {
    color:#FD576C;
}

.choose-action1:hover{
    background-color:#FFF;
    color: #FD576C;
    outline: 1px solid #FD576C;
}

.choose-action2:hover{
    background-color:#FD576C;
    color: #FFF;
}

.here{
    border-bottom:1px solid #FD576C;
}

@media screen and (max-width: 1100px) {

    body{
        max-width: 100vw;
        
    }

    .footer{
        display: none;
    }

    .wrapper{
        padding: 0 20px;
        
    }
    
    

    #start > .wrapper{
        flex-direction: column-reverse;
    }

   .problems{
        justify-content: center;   
        align-items:center;
   }

   .result{
       flex-direction: column;
   }

   .how-works{
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin-bottom: 20px;
    }

    .depend{
        flex-direction: column;
        justify-content: start;
        align-items:center;
    }

    .depend-item{
         margin-bottom: 20px;
    }

    .choose{
        flex-direction: column;
        align-items:center;
    }

    .rewiev{
        flex-direction: column;
        align-items:center;
    }

    .rewiev-item{
        width:80vw;
        margin-bottom: 100px;
        height: auto;
       
    }

    .line{
        width:80vw;
    }

    .disclamer-top{
        flex-direction: column;
        align-items:center;
        margin-bottom: 100px;
    }

    .disclamer-bottom{
        flex-direction: column;
        align-items:center;
    }

    .learn-more{
        flex-direction: column;
        align-items:center;
    }

    .main-image{
        max-width: 70vw;
    }

    .disclamer-bottom-item{
        width: 90vw;
    }

    .wrapper-menu{
        flex-direction: column;
        align-items: start;
        margin-top: 20px;
    }

    nav > ul{
        flex-direction: column;
        margin-top:25px;
        gap:20px;
        flex-wrap: wrap;
    }

    nav > ul > li{
        margin-bottom: 10px;
    }

    .wrapper-menu {
        height: auto;
        margin-bottom: 20px;
    }

    .burger{
        display: flex;
    }
    
    .menu-burger{
        width:95%
    }

    .navbar  {
        display: none;
    }

    .act {
        display: flex;
        justify-content: center;
        align-items:center;
        margin: auto;
    }

    .nav-button{
        margin-left: 0px;
    }

    .rewiev-p{
        width: 70vw;
    
 }

    .review-score{
        gap:20px;
    }

    .review-score{
        padding-bottom: 20px;
    }

    .main-text{
        padding-right: 20px;
    }
}