@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
}

body {
    font-family: 'Inter', sans-serif;
    
}

.header{
    position:fixed;
    top:0;
    background-color:#fff;
}

.wrapper-menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    height: 90px;
    padding:0 30px;
    
}
.wrapper{
    margin: 0 auto;
    max-width: 1100px;
}

.logo {
    color: #5DBD6D;
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;

}

nav > ul {
    display: flex;

}

nav > ul > li{
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
    color:#151519;
    margin-left: 43px;
    font-weight: 600;
    font-size:15px;
}

.nav-button {
    color:#5DBD6D;
    font-weight: 500;
    size:16px;
    background-color:#E6F9E6;
    padding: 9px 25px;
    border-radius: 50px;
}

.line-menu{
    display: block;
    width:100vw;
    height: 2px;
    background-color:#ECEBEB;
}

#start{
    margin-top: 50px;
}
#start > .wrapper{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.main-headding{
    font-size: 43px;
    font-weight: 800;
    color:#151519;
    margin-bottom: 30px;
}

.main-text {
    
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
max-width: 350px;
margin-bottom: 53px;
}

.action{
    
font-size: 20px;
font-weight: 600;
color:#fff;
background-color:#FD576C;
padding: 11px 32px;
border-radius:50px;
text-decoration: none;
}

#problems-section {
    background-color:#F9FAFC;
    
    
}

.heading{
    font-size: 30px;
    font-weight: 800;
    color:#151519;
    padding-top: 115px;
    margin-bottom: 50px;
    
}

.problems{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
}

.prob{
    background-color:#fff;
    width: 350px;
    height: 216px;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    gap:20px;
    border-radius:10px;
    margin-bottom: 20px;
   

}

.circle-1{
    background-color: #E9F6EB;
    border-radius:50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.circle-2{
    background-color: #FDF3E3;
    border-radius:50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.circle-3{
    background-color: #FCE3E8;
    border-radius:50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.icon-s2{
    width: 34px;
    height: 34px;
   
}
.prob > *{
    margin-left: 20px;
}

.prob-h {
    font-weight: 600;
    font-size: 16px;
}

.prob-t{
    max-width: 289px;
    font-size: 16px;
}

.result {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.how-block {
    border:1px solid #ECEBEB;
    border-radius: 10px;
}

.how-works{
    display: flex;
    justify-content: space-around;
    gap:20px;
}

.how-title{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 37px;
}

.img-4s{
    margin-top: 41px;
    margin-left: 37px;
    margin-bottom: 22px;
}

.list-4s{
    color:#FD576C;
}

.list-4s > p{
    color:#151519;
    margin-bottom: 20px;
}

#depend{
    background-color:#F9FAFC;
}

.depend {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    
}

.depend-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.depend-item{
    width:254px;
    
}

.depend-item > *{
    margin-bottom: 10px;
}

.square{
    width: 47px;
    height: 47px;
    background-color:#FAE3E8;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius:10px;
    
}

.element-name {
    font-weight: 700;
    font-size:23px;
    color:#F2859A;
}

.check-icon{
    background-image: url(/img/section-6-icons/check.svg);
    width: 17px;
    height: 13px;
}

.uncheck-icon{
    background-image: url(/img/section-6-icons/uncheck.svg);
    width: 15px;
    height: 14px;
}

.half {
    width:350px;
    border: 1px solid #ECEBEB;
    border-radius: 10px;
    height: 724px;
}

.choose-item{
    display: flex;
    gap:15px;
    align-items:center;
}

.choose-top {
    background-color:#5DBD6D;
    height: 141px;
    border-radius: 10px 10px 0 0;
}